<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there, user <%= @name %> (<%= @email %>) wants to contact you: </h1>
    <p>
      Message:
    </p>
    <p>
      <%= @message %>
    </p>
    <p>Better get on it :)</p>
  </body>
</html>