<h1>All Groups</h1>

<table>
  <tr>
    <th>Group Name</th>
    <th>Course ID</th>
  </tr>
 
  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group_path(group) %></td>
      <td><%= group.course_instance.course.course_code%></td>
      <td><a href ="">Join</a> </td>
    </tr>
  <% end %>
  <tr>
  	<td><%= link_to 'New Group', new_group_path() %></td>
  	<td></td>
  </tr>
</table>