<h1>All Schools</h1>

<table class = "table">
  <tr>
    <th>School Name</th>
    <th>City</th>
  </tr>
 
  <% @schools.each do |school| %>
    <tr>
      <td><%= link_to school.school_name, school_path(school) %></td>
      <td><%= school.city %></td>
    </tr>
  <% end %>
</table>