<h1>All Courses</h1>

<table class="table">
  <tr>
    <th>Course Code</th>
    <th>Course Name</th>
    <th>School Name</th>
    <th>Department</th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_code %></td>
      <td><%= course.course_name %></td>
      <td><%= course.school.school_name %></td>
      <td><%= course.department %></td>
    </tr>
  <% end %>
</table>