<h1>List Of All Tutor Ads</h1>

<table class="table">
	<tr>
		<th>Title</th>
		<th>Offering/Wanted</th>
		<th>Description</th>
		<th>Rate</th>
		<th></th>
	</tr>
	<% @tutor_ads.each do |tutor_ad| %>
		<tr>
			<td><%= tutor_ad.title %></td>
			<td><%= tutor_ad.offering %></td>
			<td><%= tutor_ad.description %></td>
			<td><%= tutor_ad.rate %></td>
		</tr>
	<%end%>
</table>
