<p>
<strong>Title:</strong>
<%= @tutor_ad.title %>
</p>

<p>
<strong>Offering/Wanted:</strong>
<%= @tutor_ad.offering %>
</p>

<p>
<strong>Description:</strong>
<%= @tutor_ad.description %>
</p>
<p>
<strong>Rate:</strong>
<%= @tutor_ad.rate %>
</p>
