// Place all the styles related to the CourseInstances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-google {
  margin-top: 10px;
  color: white;
  background-color: #ea4335;
  width: 235px;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
  width: 235px;
}
