<footer>
    <div class="container">
      <p>&copy; StuddyBuddy 2019. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/sites/privacy_policy">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="/sites/terms_of_service">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="/sites/faq">FAQ</a>
        </li>
        <li class="list-inline-item">
          <a href="/sites/contact_us">Conact Us</a>
        </li>
      </ul>
    </div>
  </footer>

   <!-- Bootstrap core JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-new-age/vendor/jquery/jquery.min.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-new-age/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-new-age/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://blackrockdigital.github.io/startbootstrap-new-age/js/new-age.min.js"></script>
